/*--------------
    RESET
---------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*--------------
    GENERAL
---------------*/
html {
    font-family: 'Space Grotesk', sans-serif;
    background-color: #fbd3d3;
    color: black;
}

h1 {
    font-size: 35px;
    margin-bottom: 8px;
}
h2 {
    margin-bottom: 8px;
}
.container {
    max-width: 1000px;
    margin: 0 auto;
}
/*--------------
HEADER
--------------*/
header {
    background-color: rgb(255, 147, 165);
    text-align: center;
    padding: 32px;
}
/*--------------
ADVENTURE
--------------*/
.adventure {
    height: 150px;
    width: 150px;
    background-color: rgb(217, 255, 142);
    border-radius: 100%;
    border: 2px solid rgb(255, 191, 0);
    overflow: hidden;
    cursor: pointer;
}
.adventure img {
    max-width: 100%;
}
.adventures {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    padding: 40px 4px;
}
/*--------------
    LOADING
---------------*/
.loading {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 161, 161, 0.8);
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}
.loading img {
    max-width: 175px;
    border-radius: 100%;
}
.loading-hidden{
    display: none;
}
/*--------------
    MODAL
---------------*/
.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 161, 161, 0.8);
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal-box {
    position: relative;
    background-color: #ffffff;
    padding: 20px;
    border: 2px solid rgb(255, 191, 0);
    max-width: 512px;
    margin: 24px auto;
}

.modal-close {
    background-color: #ef6b43;
    height: 36px;
    width: 36px;
    border-radius: 50%;
    border: 2px solid rgb(255, 191, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    top: 12px;
    right: 12px;
}
.modal-close img {
    max-width: 100%;
}
.modal-hidden{
    display: none;
}